.status-bar {

	position: fixed;
	bottom: 0;

	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;

	font-size: 12px;
	font-weight: 300;

	background-color: rgba(0,0,0,0.6);

	&.info {
		color: #FFFFFF;
	}

	&-enter {
	  opacity: 0.01;
	  transition: opacity .5s ease-in;
	}

	&-enter.status-bar-enter-active {
	  opacity: 1;
	}

	&-leave {
	  opacity: 1;
	  transition: opacity .5s ease-in;
	}

	&-leave.status-bar-leave-active {
	  opacity: 0.01;
	}

}
