.topics-view {
  position: absolute;

  width: 100%;
  height: 100%;

  &__title {
    margin: 10px 0 0;
    padding-left: 10px;
    color: #8E8E8E;
    text-transform: uppercase;
  }

  &.syncing {

  }
}

.topics-buttons-bar {
  position: absolute;
  top: 7px;
  right: 10px;

  &__button {
    border: none;
    background: none;
    outline: none;

    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
    &:active {
      background-color: rgba(0,0,0,0.2);
    }

    &.syncing {
      & > .icon-refresh {
        animation: spin 2s linear infinite;
      }
    }

    transform: rotate(0deg);
  }
}

@keyframes spin { 100% { transform:rotate(360deg); } }


.topics-list {

  position: absolute;

  top: 30px;
  bottom: 0;
  width: 100%;
  overflow: scroll;

  padding: 0;
  margin: 10px 10px 0 0;

  &__item {
    position: relative;

    margin-top: 1px;
    padding: 5px 10px;

    &-seen {
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 5px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgb(194, 209, 255);
      }
    }
  }

  &__link {
    display: block;
    color: #000;
    text-decoration: none;
    color: #4886BA;
    text-decoration: none;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;

    &--opened {
      font-weight: lighter;
    }
  }

  &__excerpt {
    margin-top: 3px;
    color: #B3B3B3;
    font-weight: 300;
    font-size: 12px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
  }

  &-enter.topics-list-enter-active {
    opacity: 1;
  }

  &-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
  }

  &-leave.topics-list-leave-active {
    opacity: 0.01;
  }
}
