@import "../../bower_components/pure/base-min.css";
@import "../../bower_components/pure/buttons-min.css";

@import "fonts";
@import "signin-view";
@import "topics-view";
@import "status-bar";

body {
  position: relative;
  width: 250px;
  height: 550px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Open Sans';
}
